// /*------------------------------------*\
//     App
// \*------------------------------------*/

.app {
	display: flex;
	flex-direction: column;
}

.body {
	background: pink;
	display: flex;
	height: 100%;
	max-height: calc(100vh - 70px)
}