// /*------------------------------------*\
//     App
// \*------------------------------------*/

$card-height: 150px;
$card-width: 120px;

.card {
	min-height: $card-height;
	min-width: $card-width;
	height: $card-height;
	width: $card-width;

	margin: 20px;
	
	background-color: white;
    @include box_shadow(3);
    border-radius: 12px;

    &:hover {
        cursor: pointer;
        transition: 300ms;
        transform: translateY(-1px);
        @include box_shadow(5);
    }

    &__text {
    	text-transform: capitalize;
    	transform: translateY(90px);
    	background: $white;
    	padding: 10px;
    }
}

