// /*------------------------------------*\
//     App
// \*------------------------------------*/

$card-height: 150px;
$card-width: 120px;

.card {
	min-height: $card-height;
	min-width: $card-width;
	height: $card-height;
	width: $card-width;

	margin: 20px;
	
	background-color: white;
    box-shadow: $box-shadow;
    border-radius: $border-radius;

    &:hover {
        transition: 300ms;
        transform: translateY(-3px);
        box-shadow: $box-shadow-hover;
    }

    &__text {
    	text-transform: capitalize;
    	transform: translateY(90px);
    	background: $white;
    	padding: 10px;
    }
}

