// /*------------------------------------*\
//     App
// \*------------------------------------*/

$card-height: 150px;
$card-width: 120px;

.card {
	min-height: $card-height;
	min-width: $card-width;
	height: $card-height;
	width: $card-width;

	margin: 20px;
	
	background-color: white;
    box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08), 0px 6px 18px 0px rgba(0, 0, 0, 0.05);
    border-radius: $border-radius;

    &:hover {
        transition: 300ms;
        transform: translateY(-3px);
        box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08), 0px 30px 25px 0px rgba(0, 0, 0, 0.05);
    }

    &__text {
    	text-transform: capitalize;
    	transform: translateY(90px);
    	background: $white;
    	padding: 10px;
    }
}

