// /*------------------------------------*\
//     Color Swatch Color
// \*------------------------------------*/

.color-swatch-colors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.color-swatch-row {
	display: flex;
	width: 70%;
	align-items: center;
	margin: 6px 0;

	font-family: $font-stack-monospace;
	letter-spacing: 3px;

	&:hover {
		transition: 150ms;
		cursor: pointer;
		transform: translateY(-2px);
	}
}

.color-swatch-color {
	height: 30px;
	width: 30px;
	border-radius: 12px;
}

.color-swatch-color-hex {
	width: 90px;
	margin-left: auto;
	text-align: right;
}