// /*------------------------------------*\
//     Color Swatch Color
// \*------------------------------------*/

.color-swatch-colors {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 100%;
}

.color-swatch-row {
	display: flex;
	width: 70%;
	align-items: center;
	margin: 6px 0;
}

.color-swatch-color {
	height: 30px;
	width: 30px;
	border-radius: 12px;
}

.color-swatch-color-hex {
	width: 90px;
	margin-left: auto;
}