// /*------------------------------------*\
//     Color Picker Cards
// \*------------------------------------*/

.tag {
    cursor: pointer;

	&--all {
		background: linear-gradient(124deg, #f44336, #f4a236, #e7f436, #88f436, #36f443, #36f4a2, #36e7f4, #3688f4, #4336f4, #a236f4, #f436e7,#f43688 );
		background-size: 100% 1000%;

		-webkit-animation: rainbow 45s ease infinite;
		-z-animation: rainbow 45s ease infinite;
		-o-animation: rainbow 45s ease infinite;
		animation: rainbow 45s ease infinite;

		@-webkit-keyframes rainbow {
			0%{background-position:0% 82%}
			100%{background-position:100% 19%}
		}
		@-moz-keyframes rainbow {
			0%{background-position:0% 82%}
			50%{background-position:100% 19%}
			100%{background-position:0% 82%}
		}
		@-o-keyframes rainbow {
			0%{background-position:0% 82%}
			50%{background-position:100% 19%}
			100%{background-position:0% 82%}
		}
		@keyframes rainbow { 
			0%{background-position:0% 82%}
			50%{background-position:100% 19%}
			100%{background-position:0% 82%}
		}
	}

	&--saved {
		background: #FFD700;
	} 

	&--blue {
		background: #2196F3;
	}

	&--red {
		background: #F44336;
	}

	&--purple {
		background: #9C27B0;
	}

	&--orange {
		background: #FF9800;
	}

	&--green {
		background: #4CAF50;
	}

	&--yellow {
		background: #FFEB3B;
	}

	&--brown {
		background: #795548;
	}

	&--grey {
		background: #9E9E9E;
	}

	&--pink {
		background: #E91E63;
	}

	&--indigo {
		background: #3F51B5;
	}
}