// /*------------------------------------*\
//     Favorites Button
// \*------------------------------------*/

.favorites {
	min-height: 80px;
	background: red;
}

.favorites-text {
	background: $white;
	padding: 10px;
	transform: translateY(22px);
}