// /*------------------------------------*\
//     Favorites Button
// \*------------------------------------*/

$favorites-height: 80px;

.favorites {
	min-height: $favorites-height;
	height: $favorites-height;
	background: linear-gradient(-40deg, #AF4DFF, #4D4FFF);
}

.favorites__text {
	background: $white;
	padding: 10px;
	transform: translateY(22px);
}