// /*------------------------------------*\
//     Favorites Star
// \*------------------------------------*/

.favorites-star {
	font-size: 30px;

	&--faved {
		color: #FFC107;
	}

	&:hover {
		transition: 200ms;
		cursor: pointer;
		transform: scale(1.2);
	}
}

.click {
	animation-duration: 2s;
	animation-name: click;
}

@keyframes click {
	from {
		transform: scale(0.7);
	}

	to {
		transform: scale(2);
	}
}