// /*------------------------------------*\
//     Favorites Button
// \*------------------------------------*/

$favorites-height: 80px;

.favorites {
	min-height: $favorites-height;
	height: $favorites-height;
	background: red;
}

.favorites-text {
	background: $white;
	padding: 10px;
	transform: translateY(22px);
}