// /*------------------------------------*\
//     Favorites Star
// \*------------------------------------*/

.favorites-star {
	font-size: 30px;

	&--faved {
		color: #FFC107;
	}

	&:hover {
		transition: 200ms;
		cursor: pointer;
		transform: translateY(-3px);
	}
}