// /*------------------------------------*\
//     Gradient Card
// \*------------------------------------*/

$card-edge: 8px;

.gradient-card {
    min-height: $card-height;
    min-width: $card-width;
    height: $card-height;
    width: $card-width;

    margin: 20px;
    
    
    @include box_shadow(3);
    border-radius: $border-radius;

    transform-style: preserve-3d;
    transition: 400ms;
	position: relative;

    &__name {
        display: none;
    }

    &__front {
        position: absolute;
        height: 100%;
        transform: rotateY(0deg);


        &:hover {
            transition: 300ms;
            transform: translateY(-1px);
            @include box_shadow(5);
        }
    }

    &__back {
        position: absolute;
        transform: rotateY(180deg);
    }

    &__side {
        background-color: $white;
        border-radius: $border-radius;
        backface-visibility: hidden;
        height: 100%;
        width: 100%;
    }

    &--flipped {
        transform: rotateY(180deg);
    }

    &__color {
        border-radius: $border-radius;
        height: 65%;
        border: $card-edge solid $white;

        &:hover {
            cursor: pointer;
        }
    }

    &__info {
        padding: 0 $card-edge;
        height: calc(35% - #{card-height});
        display: flex;
        flex-direction: column;
    }

    &__options {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
    }
}

.flip-button {
    font-size: 30px;

    &:hover {
        cursor: pointer;
    }
}

@media (min-width: 600px) {
    .gradient-card {
        &__color {
            height: 75%;
        }

        &__info {
            height: calc(25% - 14px);
        }


	    width: 200px;
	    height: 300px;

        &__name {
            display: block;
        }
        
    }
}

@media (min-width: 1000px) {
	.gradient-card {
	    width: 250px;
	    height: 350px;
	}
}