// /*------------------------------------*\
//     Gradient Picker
// \*------------------------------------*/

.gradientpicker {
	width: calc(100vw - 200px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: pink;
	overflow-y: scroll;
	align-items: center;
}