// /*------------------------------------*\
//     Gradient Picker
// \*------------------------------------*/

.gradientpicker {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow-y: scroll;
	align-items: center;
	z-index: 1;

	background: $white;
	perspective: 2500px;
}