// /*------------------------------------*\
//     Gradient Card
// \*------------------------------------*/

$card-edge: 8px;

.card {
	&__gradient {
    	position: relative;

        &--name {
            display: none;
        }
	}

    &__color {
        border-radius: $border-radius;
        height: 65%;
        border: $card-edge solid $white;

        &:hover {
            cursor: pointer;
        }
    }

    &__info {
        padding: 0 $card-edge;
        height: calc(35% - ($card-edge * 2);
        display: flex;
        flex-direction: column;

        &-options {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
    }
}



@media (min-width: 600px) {
    .card {

        &__color {
            height: 75%;
        }

        &__info {

            height: calc(25% - 14px);
        }

        &__gradient {
    	    width: 200px;
    	    height: 300px;

            &--name {
                display: block;
            }
        }
    }
}

@media (min-width: 1000px) {
	.card__gradient {
	    width: 250px;
	    height: 350px;
	}
}