// /*------------------------------------*\
//     Header
// \*------------------------------------*/

.header {
	background-color: $white;
    border-bottom: 1px solid $black;

    &__container{
		max-width: 1280px;
		margin: 0 auto;
		height: 70px;

		display: flex;
		align-items: center;   	
    }
}

.created-with {
	margin-left: auto;
}

.heart {
	color: #F44336;
}