// /*------------------------------------*\
//     Header
// \*------------------------------------*/

.header {
	background-color: $white;
    border-bottom: 1px solid $grey;

    &__container{
		max-width: 1024px;
		margin: 0 32px;
		height: 70px;

		display: flex;
		align-items: center;   	
    }
}

.bgt-logo {
	font-size: 32px;
	font-weight: 200;
}

.created-with {
	margin-left: auto;
}

.heart {
	color: #F44336;
}

@media (min-width: 1024px) {
    .header {
        &__container {
            margin: 0 auto;
        }
    }
}