// /*------------------------------------*\
//     Notifications Tray
// \*------------------------------------*/

.notifications-tray {
    position: absolute;
    top: 120px;
    right: 40px;
    width: 200px;

    z-index: 4;
}