// /*------------------------------------*\
//     Popup
// \*------------------------------------*/

.popup {
	position: absolute;
	max-width: 100%;
	background: $black;
    color: $white;
	padding: 10px;
	bottom: 0;
	border-radius: 12px;

    animation-name: fadeinandout;
    animation-duration: 3s;
}

