// /*------------------------------------*\
//     Popup
// \*------------------------------------*/

.popup {
    margin: 10px 0;
	max-width: 100%;
	background: rgba($black, 0.70);
    box-shadow: 4px 4px 50px 0px rgba(51, 71, 79, .25);
    color: $white;
	padding: 10px;
	bottom: 0;
	border-radius: 12px;
	line-height: 150%;

    transform-origin: 100% 0;
    animation-name: fallin;
    animation-duration: 0.2s;
}