// /*------------------------------------*\
//     Animations
// \*------------------------------------*/

@keyframes fadeinandout {
    0%, 100% {
        transform: translateY(-10px);
        opacity: 0;
    }

    10%, 90% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}