// /*------------------------------------*\
//     Common Variables
// \*------------------------------------*/

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$white: #FEFEFE;
$black: #37474F;
$border-radius: 12px;